<div id="demo">
    <div id="demo-form-wrapper" fxLayout="column" fxLayoutAlign="start start" fxFlex="100">
        <div id="demo-form">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start">

              <div fxLayout="column" fxFlex="100" style="padding-right: 10px;">
                <h1>
                  <a [routerLink]="'/home'">Home</a>
                  |
                  <a [routerLink]="'/demo'">Demo</a>
                </h1>
                <h1>Demo Page</h1>

              </div>
            </div>
        </div>
    </div>
</div>
