<div id="about">
    <div id="about-form-wrapper" fxLayout="column" fxLayoutAlign="start start" fxFlex="100">
        <div id="about-form">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start">

                <div fxLayout="column" fxFlex="50" style="padding-right: 10px;">
                    <div>
                        <div>
                            <h1 style="margin-top: 0px;">
                                Joe Moceri
                            </h1>
                            <p>
                                I'm a Full Stack <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>,
                                <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">SQL</a>, <a href="https://en.wikipedia.org/wiki/Programmer" target="_blank">Software Developer</a>.
                                I started writing code in 2011 using <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">C</a> first
                                then <a href="https://www.python.org/" target="_blank">Python</a>, which was much easier to work with.
                                Using the <a href="https://docs.python.org/3.3/library/turtle.html?highlight=turtle" target="_blank">Python Turtle</a> I drew my first graphic on screen, and I was hooked on coding ever since. Software has always fascinated me, I wanted to write code for
                                video games and eventually I learned how to do this first using <a href="https://processing.org/" target="_blank">Processing</a> (<a href="https://www.openprocessing.org/user/38862" target="_blank">sketches here</a>).
                                I wanted to work with a more popular game engine and I started using <a href="https://unity.com/" target="_blank">Unity3D</a>, which introduced me to
                                C#. From there I began
                                my work as a <a href="https://en.wikipedia.org/wiki/Web_developer" target="_blank">Web Developer</a>, where I starting working with databases such as <a href="https://www.microsoft.com/en-us/sql-server/default.aspx" target="_blank">SQL Server</a>,
                                <a href="https://www.mysql.com/" target="_blank">MySQL</a> and <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>.
                                I started working with <a href="https://aws.amazon.com/" target="_blank">Amazon Web Services</a> including <a href="https://aws.amazon.com/ec2/" target="_blank">EC2</a>,
                                their service for <a href="https://en.wikipedia.org/wiki/Message_queue" target="_blank">message queues</a> (<a href="https://aws.amazon.com/sqs/" target="_blank">SQS</a>),
                                <a href="https://aws.amazon.com/ses/" target="_blank">Simple Email Service</a>, <a href="https://aws.amazon.com/elasticbeanstalk/" target="_blank">Elastic Beanstalk</a>,
                                <a href="https://aws.amazon.com/rds/" target="_blank">RDS</a>, and <a href="https://en.wikipedia.org/wiki/AWS_Lambda" target="_blank">Lambda</a>. I also
                                began working with <a href="https://azure.microsoft.com" target="_blank">Microsoft Azure</a> including <a href="https://azure.microsoft.com/en-us/services/key-vault/" target="_blank">Key Vault</a>
                                and <a href="https://docs.microsoft.com/en-us/azure/app-service/webjobs-create" target="_blank">WebJobs</a>. After, I spent time working with <a href="https://en.wikipedia.org/wiki/WebRTC" target="_blank">WebRTC</a> and two integrations with 3rd-party providers
                                <a href="https://www.samesurf.com/" target="_blank">samesurf</a> and <a href="https://www.twilio.com/" target="_blank">Twilio</a> for video chat, the ability to text phones using a web browser, and other real-time communications.
                            </p>
                        </div>

                        <h1 style="clear: both;">Career</h1>
                        <mat-divider style="border-top-width: 1px; border-top-color: #000;"></mat-divider>
                        <p>
                            In the past I've written code for enterprise and public-facing web apps and video games in addition to integrations with many cloud-based enterprise systems
                            including <a href="https://www.salesforce.com/" target="_blank">Salesforce</a>,
                            <a href="https://www.five9.com/" target="_blank">Five9</a>, <a href="https://www.twilio.com/" target="_blank">Twilio</a>, and many more.
                            I've worked with <a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST</a> and
                            <a href="https://en.wikipedia.org/wiki/SOAP" target="_blank">SOAP</a> APIs, consuming (both) and creating (REST).
                            I also created 3 mobile games that were available on the <a href="https://www.apple.com/ios/app-store/" target="_blank">Apple App Store</a> and <a href="https://en.wikipedia.org/wiki/Google_Play" target="_blank">Google Play</a>:

                            <a href="https://www.behance.net/gallery/84034917/Box-Copter-Hero" target="_blank">Boxcopter Hero</a>,
                            <a href="https://www.behance.net/gallery/84035813/Symbol-Match" target="_blank">Symbol Match</a>, and <a href="https://www.behance.net/gallery/110004715/Swingin-In-Caves" target="_blank">Swingin' In Caves</a>. Check out
                            <a href="https://www.npmjs.com/package/angularjs-chart-service" target="_blank">angularjs-chart-service</a>,
                            a really useful service wrapper for angular-chart.js and <a href="https://www.npmjs.com/package/angularjs-datatables-service" target="_blank">angularjs-datatables-service</a>, which integrates with AngularJS DataTables, both available on <a href="https://www.npmjs.com/" target="_blank">NPM</a>.
                            Check out <a href="https://www.nuget.org/packages/FieldMapper/" target="_blank">Field Mapper</a>, a really useful tool for mapping data from text data,
                            such as the body of an email, and <a href="https://www.nuget.org/packages/GoogleAnalyticsService/" target="_blank">Google Analytics Service</a>, which is great for working with Google Analytics metrics
                            and dimensions and returning it in a C# DataTable friendly format, both available on <a href="https://www.nuget.org/" target="_blank">NuGet</a>.
                            Check out some of the posts I wrote on C#, SQL, and more over at
                            <a href="https://medium.com/@jmoceri34" target="_blank">Medium</a>. You can see code samples on
                            <a style="align-content: center;" href="https://github.com/jmoceri34" target="_blank">GitHub</a>, on <a href="https://www.openprocessing.org/user/38862" target="_blank">Open Processing</a> you can play pong,
                            and over at <a href="https://www.behance.net/joemoceri" target="_blank">Behance</a> you can see a history of my past work.
                        </p>
                        <p>To see the latest in what I'm up to, head over to my trello board <a href="https://trello.com/b/veVOUR1r/main-planning-board" target="_blank">here</a>.</p>
                        <p>
                            If you would like to reach me professionally (in case of fire, or to say hi), please do so by email, thanks!
                        </p>
                        <h1 style="padding-left: 0px;">
                            Contact
                        </h1>
                        <mat-divider style="border-top-width: 1px; border-top-color: #000;"></mat-divider>
                        <p>
                            Email <a href="mailto:jmoceri34@gmail.com">jmoceri34@gmail.com</a>
                        </p>
                        <h1>
                            Links
                        </h1>
                        <mat-divider style="border-top-width: 1px; border-top-color: #000;"></mat-divider>
                        <p>
                            <a style="align-content: center;" href="https://stackoverflow.com/users/8293151/jmoceri" target="_blank"><img src="assets/images/icons/stack-overflow-icon.png" style="width: 32px; height: 32px;" /> Stack Overflow</a>
                        </p>
                        <p>
                            <a style="align-content: center;" href="https://github.com/jmoceri34" target="_blank"><img src="assets/images/icons/GitHub-Mark-32px.png" style="width: 32px; height: 32px;" /> GitHub</a>
                        </p>
                        <p>
                            <a href="https://medium.com/@jmoceri34" target="_blank"><img src="assets/images/icons/Monogram.png" style="width: 32px; height: 32px;" /> Medium</a>
                        </p>
                        <p>
                            <a href="https://www.npmjs.com/~jmoceri" target="_blank"><img src="assets/images/icons/n-64.png" style="width: 32px; height: 32px;" /> NPM</a>
                        </p>
                        <p>
                            <a href="https://www.nuget.org/profiles/jmoceri" target="_blank"><img src="assets/images/icons/nuget.png" style="width: 32px; height: 32px;" /> NuGet</a>
                        </p>
                        <p>
                            <a href="https://www.openprocessing.org/user/38862" target="_blank"><img src="assets/images/icons/processing.png" style="width: 32px; height: 32px;" /> Open Processing</a>
                        </p>
                        <p>
                            <a href="https://www.behance.net/joemoceri" target="_blank"><img src="assets/images/icons/behance.png" /> Behance</a>
                        </p>
                        <mat-divider style="border-top-width: 2px; border-top-color: #000;"></mat-divider>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="50">
                    <img src="assets/images/avatar-512.png" class="about-photo">
                    <img src="assets/images/avatar-512.2.png" class="about-photo">
                </div>
            </div>
        </div>
    </div>
</div>
