about {

  #about {
    background-color: #fff;
    width: 100%;
    background-size: cover;

    #about-form-wrapper {
      flex: 1 0 auto !important;
      -webkit-flex: 1 0 auto !important;
      justify-content: flex-start !important;

      #about-form {

        mat-icon {
          color: #8e7bff;
          display: none !important;
        }

        background-color: #fff;
        max-width: 100%;
        padding: 12px;
      }
    }

    p {
      padding-top: 6px;
    }
  }

  .about-photo {
    max-width: 512px;
  }
}
