home {

  #home {
    background-color: #fff;
    width: 100%;
    background-size: cover;

    #home-form-wrapper {
      flex: 1 0 auto !important;
      -webkit-flex: 1 0 auto !important;
      justify-content: flex-start !important;

      #home-form {

        mat-icon {
          color: #8e7bff;
          display: none !important;
        }

        background-color: #fff;
        max-width: 100%;
        padding: 12px;
      }
    }

    p {
      padding-top: 6px;
    }
  }

  .home-photo {
    max-width: 512px;
  }
}
