<div id="home">
    <div id="home-form-wrapper" fxLayout="column" fxLayoutAlign="start start" fxFlex="100">
        <div id="home-form">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start">

              <div fxLayout="column" fxFlex="100" style="padding-right: 10px;">
                <h1>
                  <a [routerLink]="'/home'">Home</a>
                  |
                  <a [routerLink]="'/demo'">Demo</a>
                </h1>
                <h1>Unity Effects Pack Documentation</h1>
                <mat-divider style="border-top-width: 1px; border-top-color: #000;"></mat-divider>
                <h2>Color</h2>
                <p>TODO</p>
                <h2>Fade</h2>
                <p>TODO</p>
                <h2>Move</h2>
                <p>TODO</p>
                <h2>Progress Bar</h2>
                <p>TODO</p>
                <h2>Rotate</h2>
                <p>TODO</p>
                <h2>Scale</h2>
                <p>TODO</p>
                <h2>Scroll</h2>
                <p>TODO</p>
                <h2>SquashStretch</h2>
                <p>TODO</p>
                <h2>Typewriter</h2>
                <p>TODO</p>
                <mat-divider style="border-top-width: 1px; border-top-color: #000;"></mat-divider>
              </div>
            </div>
        </div>
    </div>
</div>
